body{
    background-color: blueviolet;
}
#container{
    background-color: black;
    text-align: center;
    padding:1px;
}
.data {
    border-style: dashed;
    
    background-color: gray;
    margin: auto;
    width: 30%;
    padding: 10px;
    color:black;
    transition: transform 0.2s ease-in-out;
}
.data h1{
    font-size: 25px;
}
.data a {
    font-size: large;
    text-decoration: none;
    color: black;
}
.data:hover {
    animation: hover ease-in;
    transform: scale(1.2);
    color:yellow
}

.iltalehti{
    background-color: lightcoral;
}
.iltasanomat{
    background-color: orange;

}